/* HEADER */
header {
    position: fixed; /* Changed from relative to fixed */
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fafafa; /* Pełny kolor */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Cień dla lepszej widoczności */
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

body {
    padding-top: 97px; /* Adjust this value based on the height of the header */
}

header.home {
    position: fixed;
    top: 0;
}

body.home {
    padding-top: 0;
}

/* Pełna szerokość dla announcement i navigation-bar */
.announcement, .navigation-bar {
    width: 100%;
    position: relative;
}

/* Tło announcement */
.announcement {
    background-color: black;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 3px;
}

/* Tło navigation-bar */
.navigation-bar {
    background-color: transparent; /* Przezroczyste tło */
    padding: 8px;
}

/* Kontener, aby centrować treść */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
.logo-link {
    text-decoration: none;
    color: rgb(82, 82, 82);
    padding: 0 10px;
}

.logo-link:hover {
    transform: scale(1.01); /* Powiększenie */
    color: rgb(32, 32, 32);
    font-weight: normal;
    display: inline-block;
}

.logo {
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin-right: 0px;
    vertical-align: middle;
}

.logo h1 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 15px;
}

.logo h2 {
    font-weight: lighter;
    letter-spacing: 3px;
    font-size: 9.5px;
}

/* Nawigacja */
.navigation-bar ul.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-bar ul.navigation li {
    margin: 10px;
    padding: 0;
}

.navigation-bar ul.navigation li a {
    padding: 10px 5px;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-weight: normal;
    display: inline-block;
}

.navigation-bar ul.navigation li a:hover {
    transform: scale(1.03); /* Powiększenie */
    color: rgb(48, 48, 48);
}

.menu-icon {
    display: none;
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
}

.menu-icon img.normal {
    width: 20px;
    height: 14px;
}

.menu-icon img.open {
    display: none;
    width: 20px;
    height: 14px;
}

/* Navigacja boczna */
.navigation-side {
    left: -260px; /* Ukryte */
    position: fixed;
    width: 260px;
    height: 100%;
    background-color: #f7f7f7;
    box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.navigation-side.open {
    left: 0; /* Odkryte */
}

.navigation-side ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navigation-side ul li {
    margin: 10px;
    padding: 0;
}

.navigation-side ul li a {
    padding: 10px 5px;
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-weight: normal;
    font-size: 18px;
    display: block; /* Changed from inline-block to block */
    width: 100%; /* Make the link stretch to the full width */
}

.navigation-side ul li a:hover {
    transform: scale(1.03); /* Powiększenie */
    color: rgb(62, 62, 62);
}

/* Media Query - Responsywność */
@media (max-width: 768px) {
    body {
        padding-top: 72px; /* Adjust this value based on the height of the header */
    }
    
    .logo-link {
        position: absolute; /* Absolutne pozycjonowanie logo w kontenerze */
        left: 50%; /* Ustawienie środka logo na 50% szerokości */
        transform: translateX(-50%); /* Przesunięcie o połowę szerokości logo */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1; /* Ustawienie z-index wyżej niż inne elementy */
    }
    /* Efekt hover dla logo */
    .logo-link:hover {
        transform: translateX(-50%) scale(1.01) !important; /* Powiększenie przy hover */
    }
    .navigation-bar .container {
        padding-inline: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative; /* Ustawienie pozycji dla wyśrodkowania logo */
    }

    ul.navigation {
        display: none !important;
    }

    .navigation-bar .menu-icon,
    .navigation-side {
        display: block !important;
    }
}