/* Base styles for large screens */
section {
    width: 100vw;
    min-height: calc(100vh - 97px); /* Changed to min-height to ensure it takes at least the full viewport height */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
    width: 100%;
    min-height: calc(100vh - 97px); /* Changed to min-height to ensure it takes at least the full viewport height */
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: hidden; /* Prevent horizontal scrolling */
}

@media (max-width: 768px) {
    section {
        min-height: calc(100vh - 72px);
    }
    .background {
        min-height: calc(100vh - 72px);
    }
}

.portfolio-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1; /* Ensure it takes the full height of the background */
    height: 100%; /* Ensure it takes the full height of the background */
    width: 100%; /* Adjust width to prevent touching the scrollbar */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 16px; /* Adjust margin */
}

.portfolio-layout a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    color: rgb(82, 82, 82);
    margin: 16px;
    padding: 32px; /* Adjust padding */
    flex-grow: 1; /* Ensure it takes the full height of the portfolio-layout */
    min-height: 0; /* Ensure it can shrink if needed */
    width: calc(100% - 32px); /* Ensure it takes the full width minus margins */
    z-index: 1;
    box-sizing: border-box; /* Ensure each item takes the full height of the portfolio-layout */
    text-decoration: none; /* Remove underline from links */
}

.portfolio-layout a h3 {
    text-align: center;
    background-color: #eeeeee;
    padding: 16px;
}

@media (max-width: 768px) {
    .portfolio-layout {
        grid-template-columns: 1fr; /* Adjust to 1 column on small screens */
    }
    .portfolio-layout a {
        margin: 16px; /* Reduce margin on small screens */
        padding: 16px; /* Reduce padding on small screens */
    }
}

.portfolio-layout a:hover {
    transform: scale(1.008); /* Powiększenie */
}

.portfolio-layout .Illustration {
    /* background-image: url('../images/Art/Thumbnails/illustration_tb.jpg'); */
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    position: relative; /* Ensure the pseudo-element is positioned correctly */
}
.portfolio-layout .ConceptArt {
    /* background-image: url('../images/Art/Thumbnails/conceptart_tb.jpg'); */
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    position: relative; /* Ensure the pseudo-element is positioned correctly */
}



